###############################################################################
# Set default behaviour to automatically normalize line endings.
###############################################################################
* text=auto

###############################################################################
# Set default behaviour for command prompt diff.
###############################################################################
*.cs     diff=csharp

# Ignore doxygen folder for language detection
doxygen/* linguist-vendored